<footer>
  <nav class="round">
    <ul>
      <li><%= link_to 'About' ,about_path %></li>
      <li><%= link_to 'Contact' ,contact_path %></li>
      <li><%= link_to 'News' ,'http://www.rubyonrails.org' %></li>
      <li><a href="http://www.google.com">Search</a></li>
    </ul>
  </nav>
</footer>